.layout {
  position: relative;
  .title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .left {
    padding-right: 20px;
    float: right;
    > p {
      margin-bottom: 1.5em;
      > span:nth-of-type(1) {
        width: 100px;
        height: 100%;
        display: inline-block;
      }
    }
  }
  .right {
    padding-left: 20px;
    > p {
      margin-bottom: 1.5em;
      > span:nth-of-type(1) {
        width: 100px;
        height: 100%;
        display: inline-block;
      }
    }
  }
  .btns {
    position: absolute;
    top: -70px;
    right: -24px;
    .btn {
      margin-left: 20px;
    }
    .code {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.table {
  border-top: 1px solid;
  padding-top: 10px;
  margin-top: 10px;
  .title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
