/*
* @Author: baosheng
* @Date:   2017-09-08 09:47:31
* @Last Modified by:   baosheng
* @Last Modified time: 2017-11-16 11:53:50
*/

.ellip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
